# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode
.DS_store

build
_build

# simulation results
cand*

# output files in examples
*.xyz
*.pbs
*.slurm
slurm.*
*.data
*.lammps
*.png
