# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
alabaster=0.7.12=pyhd3eb1b0_0
babel=2.11.0=pypi_0
brotli=1.0.9=pypi_0
brotli-python=1.0.9=py310he9d5cce_7
bzip2=1.0.8=h1de35cc_0
ca-certificates=2023.08.22=hecd8cb5_0
certifi=2023.11.17=pypi_0
cffi=1.15.1=pypi_0
charset-normalizer=2.0.4=pyhd3eb1b0_0
colorama=0.4.6=pypi_0
cryptography=41.0.3=pypi_0
docutils=0.18.1=pypi_0
idna=3.4=pypi_0
imagesize=1.4.1=pypi_0
jinja2=3.1.2=pypi_0
libcxx=14.0.6=h9765a3e_0
libffi=3.3=hb1e8313_2
markupsafe=2.1.1=pypi_0
ncurses=6.4=hcec6c5f_0
openssl=1.1.1w=hca72f7f_0
packaging=23.1=pypi_0
pip=23.3.1=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pygments=2.15.1=pypi_0
pyopenssl=23.2.0=pypi_0
pysocks=1.7.1=pypi_0
python=3.10.0=hdfd78df_5
pytz=2023.3.post1=pypi_0
readline=8.2=hca72f7f_0
requests=2.31.0=pypi_0
setuptools=68.0.0=pypi_0
snowballstemmer=2.2.0=pyhd3eb1b0_0
sphinx=5.0.2=pypi_0
sphinx-rtd-theme=1.1.1=pypi_0
sphinx_rtd_theme=1.1.1=py310hecd8cb5_0
sphinxcontrib-applehelp=1.0.2=pyhd3eb1b0_0
sphinxcontrib-devhelp=1.0.2=pyhd3eb1b0_0
sphinxcontrib-htmlhelp=2.0.0=pyhd3eb1b0_0
sphinxcontrib-jsmath=1.0.1=pyhd3eb1b0_0
sphinxcontrib-qthelp=1.0.3=pyhd3eb1b0_0
sphinxcontrib-serializinghtml=1.1.5=pyhd3eb1b0_0
sqlite=3.41.2=h6c40b1e_0
tk=8.6.12=h5d9f67b_0
tzdata=2023c=h04d1e81_0
urllib3=1.26.18=pypi_0
wheel=0.41.2=pypi_0
xz=5.4.2=h6c40b1e_0
zlib=1.2.13=h4dc903c_0
